Repository niri-la/misskey.niri.la, pull requests merged in 2023-11, with the labels that each got.

#85 Hard mute
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1700383825690-hard-mute.js
  packages/backend/migration/1700906353915-HardMuteAndSoftMuteFromRegistory.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/mute-block.word-mute.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/backend:test, packages/misskey-js

#88 Picks
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/MfmService.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/backend/src/server/web/FeedService.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#93 chore: exclude kon_nirila_misskey from featured
  CHANGELOG.md
  packages/backend/src/core/FeaturedService.ts
Labels: packages/backend

#92 Fix hard mute error
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#95 Picks
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/delete-user-avatar.ts
  packages/backend/src/server/api/endpoints/admin/delete-user-banner.ts
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/store.ts
  packages/frontend/src/widgets/WidgetJobQueue.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#98 User note for featured
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/backend/src/server/api/endpoints/users/featured-notes.ts
Labels: bug, packages/backend

#106 fix: muted user's notes are not removed in featured
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/featured.ts
Labels: packages/backend

#107 feat: public to home moderation
  CHANGELOG.md
  packages/backend/src/core/FeaturedService.ts
  packages/backend/src/core/FunoutTimelineService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/note-public-to-home.ts
  packages/backend/src/types.ts
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#109 Re-fix sound
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#112 Emoji picker folder (misskey-dev#12132)
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/scripts/emojilist.ts
Labels: packages/frontend

#113 fix(frontend): ハイライトするノートがない場合は直近のノートにフォールバックする
  CHANGELOG.md
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#115 Picks
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/global/MkPageHeader.vue
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/clip.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/pages/settings/sounds.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/navigator.ts
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/store.ts
  packages/frontend/src/types/page-header.ts
Labels: packages/frontend

#116 fix(frontend): 音がならない問題
  CHANGELOG.md
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend
