Repository niri-la/misskey.niri.la, pull requests merged in 2023-12, with the labels that each got.

#121 fix moderation log and add i18n for makeNoteHome
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/admin/note-public-to-home.ts
  packages/backend/src/types.ts
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#123 chore: opt-out our own mute migration
  packages/backend/migration/1700906353915-HardMuteAndSoftMuteFromRegistory.js
Labels: packages/backend

#128 Merge 2023.12.2
  CHANGELOG.md
  Dockerfile
  locales/bn-BD.yml
  locales/id-ID.yml
  locales/ko-GS.yml
  locales/ko-KR.yml
  locales/zh-TW.yml
  package.json
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
Labels: packages/frontend
