Repository niri-la/misskey.niri.la, pull requests merged in 2023-08, with the labels that each got.

#25 feat: disableAbuseRepository in server config
  packages/backend/src/config.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
Labels: packages/backend

#26 feat: sensitive channel (#11438)
  CHANGELOG.md
  packages/backend/migration/1690782653311-SensitiveChannel.js
  packages/backend/src/core/entities/ChannelEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/entities/Channel.ts
  packages/backend/src/models/json-schema/channel.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/server/api/endpoints/channels/create.ts
  packages/backend/src/server/api/endpoints/channels/update.ts
  packages/frontend/src/components/MkChannelPreview.vue
  packages/frontend/src/pages/channel-editor.vue
  packages/frontend/src/pages/channel.vue
Labels: packages/frontend, packages/backend

#28 fix: cw execution will exclude all notes without cw
  packages/backend/src/server/api/endpoints/notes/featured.ts
Labels: packages/backend

#29 chore: do not exclude non sensitive channels in featured
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/featured.ts
Labels: packages/backend

#31 Pick report renote abuse
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#32 Pick renote sensitive home by default
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#30 feat: 通知の保存上限を変更可能に
  CHANGELOG.md
  packages/backend/src/config.ts
  packages/backend/src/core/NotificationService.ts
Labels: packages/backend

#35 Collapse / hide sensitive channel in user page
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/index.timeline.vue
  packages/frontend/src/scripts/collapsed.ts
Labels: packages/frontend, packages/backend

#36 Noindex sensitive channel
  CHANGELOG.md
  packages/backend/src/server/web/views/note.pug
Labels: packages/backend

#42 fix: long not collapsed
  CHANGELOG.md
  packages/frontend/src/scripts/collapsed.ts
Labels: packages/frontend

#45 feat: センシティブチャンネルのNoteがユーザページからたたまれるのを無効化できるようにしました
  CHANGELOG.md
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/index.timeline.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#40 chore: replace whatIsNew link to misskey.niri.la's one
  CHANGELOG.md
  packages/frontend/src/components/MkUpdated.vue
Labels: packages/frontend

#50 feat(frontend): selectable compression kind
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/scripts/upload/compress-config.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#46 chore: センシティブチャンネルのNoteがたたまれる方法がCWになりました
  CHANGELOG.md
  locales/en-US.yml
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/collapsed.ts
Labels: packages/frontend

#51 feat(backend): exclude good-night notes
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/featured.ts
Labels: packages/backend

#54 fix: aiscript version check of plugin
  CHANGELOG.md
  packages/frontend/src/pages/settings/plugin.install.vue
Labels: packages/frontend
