Repository niri-la/misskey.niri.la, pull requests merged in 2024-02, with the labels that each got.

#139 Delete user log
  CHANGELOG.md
  packages/backend/migration/1708005334196-NirilaDeleteUserLogRepository.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/NirilaDeleteUserLog.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/postgres.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/nirila-delete-user-log-access.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/misskey-js

#141 Merge 2024.2.0
  .config/example.yml
  CHANGELOG.md
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/index.d.ts
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/migration/1707808106310-MakeRepositoryUrlNullable.js
  packages/backend/src/config.ts
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/LdSignatureService.ts
  packages/backend/src/core/activitypub/misc/validator.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/roles/users.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/test/e2e/fetch-validate-ap-deny.ts
  packages/backend/test/unit/activitypub.ts
  packages/backend/test/utils.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/components/MkSourceCodeAvailablePopup.vue
  packages/frontend/src/local-storage.ts
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/branding.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  scripts/build-assets.mjs
Labels: packages/frontend, packages/backend, packages/backend:test, packages/misskey-js

#142 chore: remove link to fork since upstream added feature to link to fork
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/about-misskey.vue
Labels: packages/frontend

#143 Do not log remote users
  CHANGELOG.md
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
Labels: packages/backend

#144 Add guideline link
  CHANGELOG.md
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend

#149 spec(backend/NoteCreateService): ローカルユーザーがまだ誰もフォローしていないリモートユーザーによる通知を引き起こす可能性のある投稿を拒否できるように (MisskeyIO#462) (patched)
  CHANGELOG.md
  packages/backend/src/config.ts
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#150 spec(backend/NoteCreateService): ローカルユーザーがまだ誰もフォローしていないリモートユーザーによる投稿の…
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#153 Fix blocked notes on delay
  CHANGELOG.md
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

#154 fix: センシティブチャンネルの投稿がセンシティブなファイルを含む投稿扱いされる
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend
