Repository niri-la/misskey.niri.la, pull requests merged in 2024-06, with the labels that each got.

#193 Selectable resize scale
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/settings/drive.vue
  packages/frontend/src/scripts/upload/compress-config.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#196 Complete emoji after last colon nirila
  CHANGELOG.md
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/scripts/autocomplete.ts
  packages/frontend/src/scripts/search-emoji.ts
Labels: packages/frontend

#198 フォロー中のユーザーに関する"TLに他の人への返信を含める"の設定が分かりづらい問題を修正
  CHANGELOG.md
  packages/frontend/src/pages/my-lists/list.vue
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#199 ランダム文字列でアップロードする際に拡張子内にドットが含まれるものを正常にアップロードできるように
  CHANGELOG.md
  packages/frontend/src/scripts/upload.ts
Labels: packages/frontend

#197 自分のフォロワー限定投稿に対するリプライがホームタイムラインで見えないことが有る問題を修正
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/timeline.ts
  packages/backend/src/server/api/endpoints/notes/vmimi-relay-hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/vmimi-relay-hybrid-timeline.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/e2e/timelines.ts
Labels: packages/backend, packages/backend:test

#201 Upgrade vmimi relay timeline to 2024.5.0-vrtl.2
  CHANGELOG-VRTL.md
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/FanoutTimelineService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/VmimiRelayTimelineService.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/api/endpoints/notes/vmimi-relay-hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/vmimi-relay-timeline.ts
  packages/backend/src/server/api/stream/channels/vmimi-relay-hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/vmimi-relay-timeline.ts
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/store.ts
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/streaming.types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#202 fix: deck uiの通知音が重なる問題
  CHANGELOG.md
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#203 Pick some pull requests
  .github/workflows/dockle.yml
  CHANGELOG.md
  packages/backend/src/core/chart/charts/federation.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
Labels: packages/backend

#204 feat: 応答がないインスタンスがいつから応答がなくなったかをクライアントに送信するようにしました
  CHANGELOG.md
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#205 fix: notRespondingSinceが実装される前に不通になったインスタンスが自動的に配信停止にならない
  CHANGELOG.md
  packages/backend/src/queue/processors/DeliverProcessorService.ts
Labels: packages/backend

#206 ローカルユーザーが誰もフォローしていないリモートユーザーによるノートのブロックの改善
  CHANGELOG.md
  packages/backend/migration/1719663422807-NirilaBlockMentionsFromUnfamiliarRemoteUsers.js
  packages/backend/migration/1719664479666-NirilaAllowedUnfamiliarRemoteUserIds.js
  packages/backend/src/config.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/pages/admin/moderation.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js
