Repository niri-la/misskey.niri.la, pull requests merged in 2025-05, with the labels that each got.

#268 fix: reactions of user cannot be retrived
  CHANGELOG.md
  packages/backend/src/server/api/endpoints/users/reactions.ts
Labels: packages/backend

#269 chore(frontend): add samunohito as contributor of this fork
  packages/frontend/src/pages/about-misskey.vue
Labels: packages/frontend

#270 Revert "fix: 添付ファイルのあるリクエストを受けたときの初動を改善 (#15896)" (#15927)
  CHANGELOG.md
  packages/backend/package.json
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoint-base.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/unit/server/api/drive/files/create.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test

#272 fix(frontend): LTLが無効な場合、公式クライアント上でVSTLが利用出来なくなる問題を修正
  CHANGELOG-VRTL.md
  packages/frontend/src/timelines.ts
Labels: packages/frontend

#276 Pick: enhance(frontend): Instance Tickerのデザイン改善
  CHANGELOG.md
  packages/frontend/src/components/MkInstanceTicker.impl.ts
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend
